@page
@model TakeAwayExample2.Pages.Admin.Category.IndexModel
@*Inport the Utility namespace*@
@using TakeAwayExample2.Utility

@if (User.IsInRole(SD.ManagerRole))
{

    <div class="border container custom-container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary align-middle">Category List</h2>
            </div>
            <div class="col-6 text-right">
                <!--Upset == update and insert common name-->
                <a asp-page="Upsert" class="btn btn-primary">
                    <!--Note i tag is for icons, the class is from font awesome need ?register?-->
                    <i class="fas fa-plus"></i> &nbsp; Create New
                </a>
            </div>
        </div>

        <br />
        <div class="table-responsive">
            <table id="DT_load" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Display Order</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

}
else
{
    <div>
        <h1 class="text-danger">Access Denied!</h1>
    </div>
}

@section Scripts{
    <script src="~/js/category.js"></script>
}