@page
@model TakeAwayExample2.Pages.Customer.Home.DetailsModel
@{
}

<div class="">
    <form method="post">
        <div class="container">
            <div class="">
                <h1 class="text-primary">Cake</h1>
            </div>
            <div class="row">
                <div class="col my-1">
                    <img src="~/images/menuItems/5b263d92-572c-4943-9017-500b79b9d3ac.jpg" style="width: 400px;" class="my-2" />
                    <h3>Desert</h3>
                    <span class="badge badge-success p-2">Veg</span>
                    <p><em>Count:</em> 10</p>
                    <!-- Maybe add an inStock color green==true/red==false -->
                    <h3>$10</h3>
                    <div type="submit" class="btn btn-primary" style="height:40px;">Add to Cart</div>
                    <a class="btn btn-dark text-white" style="height:40px;">Back to List</a>
                </div>
                <div class="col my-1">
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor enim velit, eu ultricies enim iaculis sed. Nunc elit ligula, consectetur eget nibh quis, ultrices malesuada sapien. Duis vel ultricies massa. Sed pulvinar est ut venenatis fringilla. Quisque imperdiet tellus eu ante eleifend, quis condimentum risus ullamcorper. Etiam magna lectus, malesuada eu dui interdum, sodales sodales orci. Mauris blandit lacus diam, non tempor leo eleifend ut. Donec rhoncus velit nec vulputate aliquam. Phasellus et pretium nibh. Aliquam aliquet odio sed magna iaculis vehicula. Fusce ullamcorper luctus suscipit. Suspendisse vestibulum ut felis a tincidunt.</p>
                </div>
            </div>
        </div>
    </form>
</div>
